<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>{{footer.quickLinks.title}}</h3>
            <a href="index.html"> <i class="fas fa-arrow-right"></i>{{footer.quickLinks.home}}</a>
            <a href="shop.html"> <i class="fas fa-arrow-right"></i>{{footer.quickLinks.shop}}</a>
            <a href="about.html"> <i class="fas fa-arrow-right"></i>{{footer.quickLinks.about}}</a>
            <a href="review.html"> <i class="fas fa-arrow-right"></i>{{footer.quickLinks.review}}</a>
            <a href="blog.html"> <i class="fas fa-arrow-right"></i>{{footer.quickLinks.blog}}</a>
            <a href="contact.html"> <i class="fas fa-arrow-right"></i>{{footer.quickLinks.contact}}</a>
        </div>

        <div class="box">
            <h3>{{footer.extraLinks.title}}</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i>{{footer.extraLinks.myOrder}} </a>
            <a href="#"> <i class="fas fa-arrow-right"></i>{{footer.extraLinks.myFavourite}} </a>
            <a href="#"> <i class="fas fa-arrow-right"></i>{{footer.extraLinks.myWishlist}} </a>
            <a href="#"> <i class="fas fa-arrow-right"></i>{{footer.extraLinks.myAccaunt}} </a>
            <a href="#"> <i class="fas fa-arrow-right"></i>{{footer.extraLinks.termsOrUse}} </a>
        </div>

        <div class="box">
            <h3>{{footer.followUs.title}}</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i>{{footer.followUs.facebook}}</a>
            <a href="#"> <i class="fab fa-twitter"></i>{{footer.followUs.twitter}}</a>
            <a href="#"> <i class="fab fa-instagram"></i>{{footer.followUs.instagram}} </a>
            <a href="#"> <i class="fab fa-linkedin"></i>{{footer.followUs.linkedin}} </a>
            <a href="#"> <i class="fab fa-pinterest"></i>{{footer.followUs.pinterest}}</a>
        </div>

        <div class="box">
            <h3>{{footer.newsLetter.title}}</h3>
            <p>{{footer.newsLetter.label}}</p>
            <form action="">
                <input type="email" placeholder="{{footer.newsLetter.placeholder}}">
                <input type="submit" value="{{footer.newsLetter.btn}}" class="btn">
            </form>
            <img src="{{footer.newsLetter.payments}}" class="payment" alt="">
        </div>

    </div>

</section>

<section class="credit">created by mr. web designer | all rights reserved!</section>
